.btn {
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    gap: 3px;
    cursor: pointer;
}
.btn svg{
    width: 16px;
    height: 16px;
}
.xs {
    /*font-family: Roboto;*/
    font-size: 10px;
    font-weight: 700;
    /*line-height: 21px;*/
    letter-spacing: 0.25px;
    text-align: center;
    text-transform: lowercase!important;
    padding: 2px 15px;

}
.sm {
    /*font-family: Roboto;*/
    font-size: 10px;
    font-weight: 700;
    /*line-height: 21px;*/
    letter-spacing: 0.25px;
    text-align: center;
    padding: 7px 10px;

}

.md {
    /*font-family: Roboto;*/
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    padding: 8px 12px;
    min-width: 168px;
}

.lg {
    /*font-family: Roboto;*/
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    padding: 15px 24px;
    max-width: 400px;
    width: 100%;
}

.type_submit {
    background-color: rgba(192, 53, 162, 1) !important;
    color: #fff;
}

.type_cancel {
     background-color: rgba(67, 68, 90, 1) !important;
    color: #fff;
}

@media(max-width: 991px){
    .lg {
        padding: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.25px;
        text-align: center;
    }
    .btn{
        border-radius: 2px;
    }
}