.navbar_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: rgba(39, 40, 60, 1);
    border-radius: 0 0 14px 14px;
}

.logo_box button {
    background-color: transparent;
    cursor: pointer;

}

.navbar_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 22px;
}

.admin_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.admin_box span{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    color: #fff;
    text-align: left;

}
@media(max-width:991px){
    .admin_box span{
        display: none;
    }
    .navbar_box button span{
        display: none;
    }
    .admin_box{
        width: 30px;
        height: 30px;
    }
}