.div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inpdiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    gap: 11px;
}

.inpdiv input {
    height: 54px;
    padding: 12px 24px;
    color: #333;
}
.inpdiv input::placeholder{
    color: #333;
}
.button {
    background: #6FCF97;
    text-align: center;
    height: 53px;
    color: #fff;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .div {
        flex-direction: column;

    }

    .inpdiv {
        width: 100%;
    }
}