.add_form_container {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 950px;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 57, 78, 1);
    z-index: 10;
}
.show{
    display: block;
}
.form_box{
    max-height: 100vh;
    overflow: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.add_form_container h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(199, 199, 199, 1);
    margin-bottom: 12px;

}

.close {
    position: absolute;
    top: 30px;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 79, 235, 1);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.form_items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 78px;
    margin-bottom: 48px;
    cursor: pointer;
}

.left_item {
    max-width: 255px;
    width: 100%;
}
.left_item img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.left_item h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(199, 199, 199, 1);

}

.form_bottom {
    border-top: 1px solid rgba(67, 68, 90, 1);
    padding: 22px 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_item {
    width: 100%;
}

.upload_box {
    background-color: rgba(67, 68, 90, 1);
    min-height: 122px;
    padding: 24px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.upload_box input{
    display: none;
}
.upload_box label{
    cursor: pointer;
}
.upload_box span {
    color: rgba(199, 199, 199, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;

}
.image_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upload_box .image_item__btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.upload_box button{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*background-color: transparent;*/
    /*cursor: pointer;*/
    /*gap: 12px;*/
}
.form_box {

}

.form_list {
    padding: 24px;
    border-radius: 14px;
    background-color: rgba(67, 68, 90, 1);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_list label {
    display: block;
    color: rgba(199, 199, 199, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 12px;
    text-align: left;

}

.form_list input,
.form_list select,
.form_list textarea {
    padding: 6px 20px;
    border-radius: 14px;
    background-color: rgba(90, 91, 112, 1);
    display: block;
    width: 100%;
    color: rgba(199, 199, 199, 1);;
}

.form_list input,
.form_list select {
    height: 48px;
}

.form_list textarea {
    height: 135px;
    resize: none;
}

.form_list input::-webkit-outer-spin-button,
.form_list input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media(max-width: 991px){
    .form_items{
        flex-direction: column;
    }
    .close{
        left: auto;
        right: 30px;
    }
    .form_bottom{
        gap: 10px;
    }
    .form_list input,
    .form_list select {
        height: 30px;
    }

    .form_list textarea {
        height: 65px;
        resize: none;
    }
    .form_box,
    .form_list,
    .form_bottom{
        padding: 12px;
    }
    .form_items{
        margin-bottom: 30px;
        gap: 10px;
    }
}
/* Firefox */
/*input[type='number'] {*/
/*    -moz-appearance: textfield;*/
/*}*/