.md {

}

.xl {

}

.user_cabinet_box {
    background-color: #F3F4F6;
    border-radius: 5px;
    width: 100%;
}

.xl.user_cabinet_box {
    padding: 40px;
    /*margin: 16px 0 16px 16px;*/
}

.md.user_cabinet_box {
    padding: 10px;
    margin: 16px 0 16px 16px;
}
@media(max-width: 991px){
    .user_cabinet_box{
        margin: 10px 0!important;
    }
}
.xl .user_cabinet_title {
    color: #4f4f4f;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 16px;
}
.md .user_cabinet_title{
    display: none;
}
.item_counts {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    color: #D63626;
    align-items: flex-end;
}

.item_counts svg {
    width: 24px;
    height: 33px;
}

.item_counts span {
    color: #D63626;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: left;

}

.item_counts.disabled svg path {
    fill: #BDBDBD;
}

.item_counts.disabled span {
    color: #BDBDBD;
}

.basket_list {
    width: 100%;
    max-height: 500px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
    padding-right: 20px;
}

.basket_list .basket_box {
    width: 100%;
    border-top: 2px solid #E0E0E0;
    /*border-bottom: 2px solid #E0E0E0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket_list .basket_box .basket_item {
    display: flex;
    align-items: center;

}

.xl .basket_list .basket_box .basket_item {
    padding: 36px 0;
    gap: 28px;
}

.md .basket_list .basket_box .basket_item {
    padding: 30px 5px;
    gap: 8px;
}

.md .basket_list .basket_box .basket_item img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.xl .basket_list .basket_box .basket_item img {
    width: 96px;
    height: 96px;
    object-fit: contain;
}
.m0{
    margin: 0!important;
}
@media (max-width: 767px) {
    .basket_list .basket_box .basket_item {
        flex-direction: column;
        align-items: flex-start;
    }
}

.basket_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.xl .basket_text {
    gap: 12px;
}

.md .basket_text {
    gap: 6px;
}

.basket_text h4 {
    letter-spacing: 0.03em;
    color: #4F4F4F;
    font-weight: 500;
}

.xl .basket_text h4 {
    font-size: 22px;
}

.md .basket_text h4 {
    font-size: 16px;

}

.basket_text p {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #4F4F4F;
}

.xl .basket_text p {
    font-size: 18px;
}

.md .basket_text p {
    font-size: 14px;
}

.basket_quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    height: 100%;
}

.xl .basket_quantity {
    padding: 6px 10px;
    max-width: 40px;
    min-height: 90px;
    max-height: 90px;
    min-width: 40px;
    height: 100%;
}

.md .basket_quantity {
    padding: 4px 8px;
    max-width: 30px;
    min-height: 70px;
    max-height: 70px;
    min-width: 30px;

}

.basket_quantity input {
    max-width: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
    color: #000;
}

.xl .basket_quantity svg {
    height: 22px;
}

.md .basket_quantity svg {
    height: 16px;
}

.basket_quantity button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.basket_quantity button:disabled {
    opacity: 0.6;
}

.checkout_btn {
    width: 100%;
    border-radius: 100px;
    background-color: #D63626;
    padding: 8px 8px 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.xl .checkout_btn {
    padding: 8px 8px 8px 50px;
}

.md .checkout_btn {
    padding: 8px 8px 8px 24px;
}

.checkout_btn span {

    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}

.xl .checkout_btn span {
    font-size: 22px;
}

.md .checkout_btn span {
    font-size: 16px;
}
.clear_btn{
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #fff;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #D63626;
}
.clear_btn svg path{
    fill: #fff;
}
.checkout_btn p {
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #D63626;
    padding: 6px;
    background-color: #fff;

    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

.xl .checkout_btn p {
    font-size: 20px;
    max-width: 190px;
}

.md .checkout_btn p {
    font-size: 16px;
    max-width: 135px;
}

.checkout_btn.disabled {
    background-color: #BDBDBD;
}

.checkout_btn.disabled p {
    color: #BDBDBD;
}

.basket_box {

}

.basket_list::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.basket_list::-webkit-scrollbar-track {
    background: #F3F4F6;
}

/* Handle */
.basket_list::-webkit-scrollbar-thumb {
    background: #D63626;
}

/* Handle on hover */
.basket_list::-webkit-scrollbar-thumb:hover {
    background: #961108;
}

.empty_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.empty_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.empty_body h5 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: #BDBDBD;
}