.nav_box ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.nav_box ul li{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #828282;
    cursor: pointer;
    transition: all .5s;
}
.nav_box ul li.active,
.nav_box ul li:hover{
    color: #D63626;
}