/* @import "./reset.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Admin-bg: #1E1E30; 
  --admin-bg-soft: #27283C;
  --admin-button:#C035A2;
  --admin-text:#F2F2F2DE;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.adminBg{
  background-color: var(--Admin-bg);
}
.adminAsidebg{
  background: var(--admin-button);
}
.adminHeaderbg{
  background-color: var(--admin-bg-soft);
}
.adminTextColor {
  color: var(--admin-text);
}
