@import "./reset.css";
@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --Admin-bg: #1E1E30; 
  --admin-bg-soft: #27283C;
  --admin-button:#C035A2;
  --admin-text:#F2F2F2DE;
  --text-gray: #828282,
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system,Roboto, sans-serif!important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.adminBg{
  background-color: var(--Admin-bg);
}
.adminAsidebg{
  background: var(--admin-button);
}
.adminHeaderbg{
  background-color: var(--admin-bg-soft);
}
.adminTextColor {
  color: var(--admin-text);
}
.not_found_box{
  padding: 16px 0 60px;
}
.not_found_box img{
  width: 100%;
  object-fit: contain;
  max-height: 700px;
  height: 100%;
}
*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #F3F4F6;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #D63626;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #961108;
}