@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.title{
    font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0.03em;
text-align: center;
color: #4F4F4F;
}

.des{
    text-align: center;
    width: 60%;
    font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: center;
color: #828282;

flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 330px;
    height:400px ;
}
.icon{
    width: 240px;
    height: 232px;
}


@media only screen and (max-width: 800px) {

.box{
    margin-top: 55px;
}
}
